# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# PyCharm
.idea/

# Mac / Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# Testing / coverage
.coverage
htmlcov/

# Temporary files
*.tmp
*.swp

# Specific folders
uvsx/data/alignments/
archive/alignments/
seq2topt/
gromacs/
docs/
literature/
protherm/
writeup/*word_doc*
uvsx/plots/Jaime_ESPrint_Protein_Visualisation
research
TMP_results/accessions