# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# PyCharm
.idea/

# Mac / Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# Testing / coverage
.coverage
htmlcov/

# Temporary files
*.tmp
*.swp





# Keep analysis notebooks and scripts
!4-MolecularDynamics/gromacs/**/*.ipynb
!4-MolecularDynamics/gromacs/**/*.py

# Failed boltz
4-MolecularDynamics/gromacs/gold_standards/predicted/boltz/7Z3M/7Z3M.pdb
4-MolecularDynamics/gromacs/gold_standards/predicted/boltz/9GBG/9GBG.pdb
4-MolecularDynamics/gromacs/gold_standards/predicted/boltz/uvsx/uvsx.pdb

# Gromacs plots
4-MolecularDynamics/gromacs/gold_standards/predicted/alphafold/plots/
4-MolecularDynamics/gromacs/orthologs/predicted/alphafold/plots/
